<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<section class="content-header">
		<h1>Clasificación de Gráficas</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Gráficas y Reportes</a></li>
			<li class="active">Clasificación de Gráficas</li>
		</ol>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center pointer">
						<h3 class="box-title">Listado de Gráficas</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-offset-1 col-md-10 table-responsive">
								<table class="table">
									<tr>
										<td><a href="#/graficaTipoInfraccionDia"><i class="fa fa-hand-o-right extrafa" aria-hidden="true" ></i></a></td>
										<td>Conteo diario de infracciones por tipo y zona vial</td>
										<td><i class="fa fa-question-circle-o extrafa" aria-hidden="true"
												data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
												data-content="Módulo para mostrar gráficas de tipo barra, radar y lineal para visualizar el conteo por día de infracciones agrupadas por tipo de infracción."></i>
										</td>
									</tr>
									<tr>
										<td><a href="#/graficaTipoInfraccionMensual"><i class="fa fa-hand-o-right extrafa" aria-hidden="true" ></i></a></td>
										<td>Conteo mensual de infracciones por tipo y zona vial</td>
										<td><i class="fa fa-question-circle-o extrafa" aria-hidden="true"
												data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
												data-content="Módulo para mostrar gráficas de tipo radar y lineal para visualizar el conteo mensual de infracciones agrupadas por tipo de infracción."></i>
										</td>
									</tr>
									<tr>
										<td><a href="#/graficaTipoInfraccionAnual"><i class="fa fa-hand-o-right extrafa" aria-hidden="true" ></i></a></td>
										<td>Conteo anual de infracciones por tipo y zona vial</td>
										<td><i class="fa fa-question-circle-o extrafa" aria-hidden="true"
												data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
												data-content="Módulo para mostrar gráficas de tipo radar y lineal para visualizar el conteo mensual de infracciones agrupadas por tipo de infracción."></i>
										</td>
									</tr>
									
								</table>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
